<div class = "login">
    <div>
        <input type="text" value="{{this.feeling}}" placeholder="Good, Sad, Happy, Excited..." name="feeling"> 
        <label> feeling </label>      
    </div>
    <div>
        <input type="email" value="{{this.diary}}" placeholder="Today I did..." name="diary"> 
        <label> diary </label>       
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</div>