<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title> Diary - Mental Health Web App </title>        
        </head>
        <body>               
            <div class = "main">
                <ul class = "topnav">
                    <li><a class = "active" href = "http://localhost:9000/home"> Home </a></li>               
                    <li class="right"><a href="http://localhost:9000/account-management"> Logged in as: {{usernamex}} </a></li>
                </ul> 
                <div class = "activities">
                    <div class = "table">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </body>
        <script src = "/js/script.js" type="text/javascript"></script>
        <link href="/css/theme.css" rel="stylesheet" type="text/css">
        <style>
            body {
                background-image: url("/img/diary.jpg");
                background-repeat: no-repeat;
                background-size: 100%;                
            }

              /* @media for Responsive design. */
            @media only screen and (max-width: 700px) {
            
            body {
                background-image: url("/img/diary.jpg");
                background-repeat: no-repeat;
                background-size: auto;                
            }
            }
        </style>
    </html>