<!DOCTYPE html>
    <html>
        <head>
            <title> Change Username - Mental Health Web App </title> 
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        </head>
        <body>
            <div class = "main">
            <ul class = "topnav">
                <li><a class = "active" href = "http://localhost:9000/home"> Home </a></li>               
                <li class="right"><a href="http://localhost:9000/account-management"> Logged in as: <%=usernamex%> </a></li>
            </ul>           
                <div class = "activities">
                    <h1> Change Username: </h1>
                    <p> Enter your new username and click change. </p>
                    <p> Current Username: <%=usernamex%> </p>                    
                    <div class = "login">
                        <form action = "/change-username" method = "post">
                            <p id = "newusername"> New Username: </p>
                            <input type = "text" name = "newusername" placeholder = "Username" id = "newusername" required>                            
                            <div class = "loginbutton">
                                <input type = "submit" value = "Change">                               
                            </div>
                        </form>
                    </div>  
                </div>
            </div>           
        </body>
        <script src = "/js/script.js" type="text/javascript"></script>
        <link href="/css/theme.css" rel="stylesheet" type="text/css">
    </html>