<!DOCTYPE html>
    <html>
        <head>
            <title> Diary - Mental Health Web App </title> 
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        </head>
        <body>
            <div class = "header" onclick = "homeFunction()">
                <p> Mental Health Web App </p>                
            </div>
            <div class = "main">
                <div class = "activities">
                    <h1> Diary: </h1>
                    <p> Record how your feeling here. </p>
                    <div class = "login">
                        <form action = "/diary-creation" method = "post">
                            <p>Today I am Feeling: </p>    
                            <input type = "text" name = "diaryentry" placeholder = "Good, bad, sad, Excited...">
                            <div class = "loginbutton">
                                <input type = "submit" value = "Submit">  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </body>
        <link rel = "stylesheet" href = "theme.css">
        <script src = "script.js"> </script>
    </html>