<!DOCTYPE html>
    <html>
        <head>
            <title> Diary Creation- Mental Health Web App </title> 
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        </head>
        <body>
            <ul class = "topnav">
                <li><a class = "active" href = "http://localhost:9000/home"> Home </a></li>               
                <li class="right"><a href="http://localhost:9000/account-management"> <%=usernamex%> </a></li>
            </ul>
            <div class = "main">
                <div class = "activities">
                    <h1> Diary: </h1>
                    <p> Record how you are feeling here. </p>
                    <div class = "login">
                        <form action = "/diary-creation" method = "post">
                            <p>Today I am Feeling: </p>    
                            <input type = "text" name = "diaryentry" placeholder = "Good, bad, sad, Excited...">
                            <div class = "loginbutton">
                                <!-- <p> What Happened: </p>
                                <input type = "text" name = "diaryentry" placeholder = "Good, bad, sad, Excited..."> -->
                                <input type = "submit" value = "Submit">  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </body>
        <link rel = "stylesheet" href = "theme.css">
        <script src = "script.js"> </script>
    </html>