<!DOCTYPE html>
    <html>
        <head>
            <title> Diary View - Mental Health Web App </title> 
            <link rel = "stylesheet" href = "theme.css">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        </head>
        <body>

            <div class = "header" onclick = "homeFunction()">
                <p> Mental Health Web App </p>                
            </div>

            <div class = "main">
            
                <div class = "diaryEntry">
                    
                    <table>
                        <tr>
                          <th>username</th>
                          <th>diaryentry</th>                          
                        </tr>
                        <tr>
                          <td>Alfreds Futterkiste</td>
                          <td>Maria Anders</td>
                          
                        </tr>
                        <tr>
                          <td>Centro comercial Moctezuma</td>
                          <td>Francisco Chang</td>
                         
                        </tr>
                        <tr>
                          <td>Ernst Handel</td>
                          <td>Roland Mendel</td>
                          
                        </tr>
                        <tr>
                          <td>Island Trading</td>
                          <td>Helen Bennett</td>
                         
                        </tr>
                        <tr>
                          <td>Laughing Bacchus Winecellars</td>
                          <td>Yoshi Tannamuri</td>
                          
                        </tr>
                        <tr>
                          <td>Magazzini Alimentari Riuniti</td>
                          <td>Giovanni Rovelli</td>
                          
                        </tr>
                      </table>

                </div>

                <!-- <div class = "diaryEntry">
                    <h1> Diary Entry Example 2 </h1>
                    <p> Example of an entry into the diary feature. </p>
                </div> -->

            </div>
            <button id = "backbutton" onclick = "homeFunction()" > Back </button>
        </body>
        <script>

            function homeFunction() {
                location.href = "http://localhost:9000/home";
            }
     
        </script>
    </html>