<!DOCTYPE html>
    <html>
        <head>
            <title> Home - Mental Health Web App </title> 
            <link rel = "stylesheet" href = "theme.css">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        </head>
        <body>

            <div class = "header" onclick = "homeFunction()">
                <p> Mental Health Web App </p>                
            </div>

            <div class = "main">
                <p> Logged in as: <%=usernamex%> </p>
                <div class = "activities">
                    <h1> Activities: </h1>
                    <p> Find activities to reduce stress and help you cope with your feelings. </p>

                    <div class = "option">
                        <p> Meditation </p>
                        <button id = "meditationLetGoButton" onclick = "meditationLetGoFunction()"> Let Go </button>
                        <button id = "meditationBePresentButton" onclick = "meditationBePresentFunction()"> Be Present </button>
                    </div>

                    <div class = "option">
                        <p> Breathing Exercises </p>
                        <button id = "breathingButton" onclick = "breathingFunction()"> Go </button>
                    </div>

                    <div class = "option">
                        <p> Mindfulness </p>
                        <button id = "mindfulnessButton" onclick = "mindfulnessFunction()"> Go </button>
                    </div>

                    <div class = "option">
                        <p> Diary </p>
                        <button id = "diaryButton" onclick = "diaryviewFunction()"> Go </button>
                    </div>

                </div>

                <div class = "externalHelp">
                    <h1> External Help: </h1>
                    <p> Find support from mental health charities and other services. </p>
                    <p> These links will take you outside the Mental Health Web App and take you to the respective organisations page. </p>

                    <div class = "option">
                        <p> Samaritans </p>
                        <button id = "samaritansButton" onclick = "samaritansFunction()"> Go </button>
                        <a href = "tel:116123" > 116 123 </a>
                        <a href = "mailto:jo@samaritans.org"> jo@samaritans.org </a>
                    </div>
                    
                    <div class = "option">                       
                            <p> National Health Service </p>
                        <button id = "nhsButton" onclick = "nhsFunction()"> Go </button>
                    </div>

                    <div class = "option">
                            <p> Mind </p>
                        <button id = "mindButton" onclick = "mindFunction()"> Go </button>
                    </div>

                    

                    <div class = "option">
                        <p> Project Semicolon </p>
                        <button id = "projectsemicolonButton" onclick = "projectsemicolonFunction()"> Go </button>
                    </div>

                    <div class = "option">
                        <p> Trevor Project (LGBTQ+) </p>
                        <button id = "trevorProjectButton" onclick = "trevorprojectFunction()"> Go </button>
                    </div>
                </div>
            </div>
        </body>
        <script src = "script.js"></script>
    </html>