<!DOCTYPE html>
    <html>
        <head>
            <title> Mindfulness - Mental Health Web App </title> 
            <link rel = "stylesheet" href = "theme.css">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        </head>
        <body>

            <ul class = "topnav">
                <li><a class = "active" href = "http://localhost:9000/home"> Home </a></li>               
                <li class="right"><a href="http://localhost:9000/account-management"> <%=usernamex%> </a></li>
            </ul>

            <div class = "main">
                <!-- <p> Logged in as: <%=usernamex%> </p> -->
                <div class = "activities">
                    <h1> Mindfulness: </h1>
                    <p> Use Meditations to calm down and relax. </p>
                    <p> Daily Calm | 10 Minute Mindfulness Meditation | Letting Go </p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/syx3a1_LeFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </body>
        <script src = "script.js"> </script>
    </html>